{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/profiles/home-page-paint.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/profiles/home-page-support.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/images/profiles/home-page-construct.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
<div class="home-description"><p>Our website is designed to bring veterans together through art. <br>
    Art is a great form of self expression and often used as a theraputic tool. <br>
    Here at Combat Canvas you can not only veiw art, but be encouraged to create projects yourself!<br>
    Using our log in feature you can create a profile and upload your own creations and comment on eachothers to encourage them.<br>
    Why not give it a go?</p>
</div>
<div class="where-description">
<div class="content-img1"><img src="/static/images/home-page-poetry.jpg"></div>
<div class="where-content"><h3>Where do I begin?</h3>
  <p>After you've created your user profile you will have access to our online community of vetarans where you can veiw eachothers art and encourage one another.
  Don't worry if you've never done art before as we will send you an artists starter kit with examples to get you started after you've signed up! We encourage you you to find a safe, quiet and confortable space to do your project and keep talking to the community for help and guidence.</p>
</div></div>
<br>
<div class="home-contents-container">
    <div class="user-quote2"><p>"Combat Canvas helped my to express myself through art and begin to share my experience with others!"</p></div><br>
    <div class="content-img2"><img src="/static/images/home-page-clay.jpg"></div><br>
    <div class="user-quote1"><p>"I never considered myself as a very creative person until I begin putting pen to paper.
         Now I write weekly blogs and poems and share them on Combat Canvas to help other veterans."</p></div>
</div>
</body>
{% endblock %}