{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Combat Canvas</h1>
<body>
    <h3>Where Veterans turn battles into beauty!</h3>
<div>hero image carosel will go here</div>
<br>
<div><p>Our website is designed to bring veterans together through art. <br>
    Art is a great form of self expression and often used as a theraputic tool. <br>
    Here at Combat Canvas you can not only veiw art, but be encouraged to create projects yourself!<br>
    Using our log in feature you can create a profile and upload your own creations and comment on eachothers to encourage them.<br>
    Why not give it a go?</p>
</div>
<div class="home-contents-container">
<div><p></p></div>
</div>
</body>
{% endblock %}