/*=======================
  Header Section
========================*/
.header {
    position: sticky;
    z-index: 111;
    background-color: var(--color-sub);
    padding: 1.5rem 0;
  }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo > img {
    height: 3.8rem;
  }
  
  .header__nav > ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 6.5rem;
  }
  
  .header__menuItem > a {
    color: var(--color-light);
    font-weight: 300;
  }
  
  .toggle-menu > span {
    display: none;
  }
  
  .header__nav input[type='checkbox'] {
    display: none;
  }
  
  .header__nav input[type='checkbox']:checked ~ .header__menu {
    opacity: 1;
    pointer-events: all;
  }
  
  .project--thumbnail {
    height: 250px;
    object-fit: cover;
  }
  
  @media screen and (max-width: 800px) {
    .header__logo {
      position: relative;
      z-index: 999;
    }
    .toggle-menu {
      position: relative;
    }
  
    .toggle-menu > span {
      display: block;
      position: fixed;
      top: 1.5rem;
      right: 2.75rem;
      cursor: pointer;
      padding: 1rem;
      background: var(--color-sub-light);
      z-index: 999;
      font-size: 0;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  
    .toggle-menu__lines,
    .toggle-menu__lines::before,
    .toggle-menu__lines::after {
      pointer-events: none;
      content: '';
      display: block;
      height: 2px;
      width: 2.5rem;
      position: fixed;
      top: 4rem;
      right: 4rem;
      z-index: 999;
      background: var(--color-light);
      transition: all 0.3s ease-in-out;
    }
  
    .toggle-menu__lines::before {
      top: 3.4rem;
      transform-origin: 0 0;
    }
    .toggle-menu__lines::after {
      top: 4.6rem;
      transform-origin: 0 0;
    }
  
    .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines::before {
      margin-left: 3px;
      transform: rotate(45deg) scaleX(1.2) translateX(-2px) translateY(-4px);
      visibility: visible;
    }
  
    .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines {
      visibility: hidden;
    }
  
    .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines::after {
      transform: rotate(-45deg) scaleX(1.2) translateX(-2px) translateY(3px);
      visibility: visible;
    }
  
    .header__nav > ul {
      opacity: 0;
      pointer-events: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: var(--color-sub);
      transition: all 0.5s ease-in-out;
    }
  
    .header__menuItem a {
      transition: all 0.5s ease-in-out;
      padding: 1rem 3rem;
    }
  
    .header__menuItem a:hover {
      padding: 1rem 3rem;
      border-radius: 3px;
      background: var(--color-sub-light);
    }
  }
  
/*Home Page*/
.home-description {
  display: flex;
  justify-content: center;
}

 /*Two Columns to add pictures*/
.home-contents-container {
  display: flex;
  flex-flow: column;
  columns: 2;
}

.user-quote {
  display: flex;
  justify-content: center;
}

.contents-img {
  max-width: 40%;
  max-width: 30%;
}