{% extends 'base.html' %}

{% block content %}

<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
        <div class="profile-browse-con">
            <h2 class="profile-browse-heading">{{profile.name}}</h2>
                <div class="profile-browse-top">
                    <div class="profile-browse-user-card">
                        <img class="avatar avatar--xl profile-browse-user-img" src="{{ profile.profile_image.url }}" />
                        {% if request.user.profile.id != profile.id %}
                        <a href="{% url 'create-message' profile.id %}" class="btn btn--sub btn--lg">Send Message </a>
                        {% endif %}
                    </div>
                    <div class="profile-browse-bio">
                        <p>{{profile.bio}}</p>
                    </div>
                </div>
                <div class="profile-browse-projects">
                    <h3 class="profile-browse-project-head">Projects</h3>
                    <div class="grid grid--two">
                        {% for project in profile.project_set.all %}
                        <div class="column">
                            <div class="profile-browse-project-card">
                                <a href="{% url 'project' project.id %}" class="project">
                                    <h3 class="project__title">{{project.title}}</h3>
                                    <img class="profile-browse-project-img" src="{{project.imageURL}}" alt="project thumbnail" />
                                </a>
                                <div class="project__tags">
                                    {% for tag in project.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}