{% extends 'base.html' %}
{% block content %}


<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Art Projects</span></h2>
            </div>

            <div class="hero-section__search">
                <div>
                    <p>Here at Combat Canvas, veterans can showcase their art and encourage one another.
                        Click on thier profiles to read their story about how expressing themselves through art has helped them to work through thier mental health struggles and enabled them to cope with and reflect on thier past experiences.</p>
                </div>
                <form id='searchForm' class="form" action="{% url 'projects' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Art Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            placeholder="Search by Art Project Title" value="{{search_query}}" />
                    </div>
                </form>
                <button class="btn btn--sub" form="searchForm" type="submit" value="Search">Search</button>
            </div>
        </div>
    </section>
    <!-- Search Result: VeteranList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for project in projects %}
                <div class="column search-results">
                    <div class="card project">
                        <a href="{% url 'project' project.id %}" class="project">
                            <img class="project__thumbnail" src="{{project.imageURL}}" alt="project thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">{{project.title}}</h3>
                                <p><a class="project__author" href="{% url 'user-profile' project.owner.id %}">By
                                        {{project.owner.name}}</a>
                                </p>
                                <p class="project--rating">
                                    <span style="font-weight: bold;">{{project.vote_ratio}}%</span> Positive
                                    Feedback ({{project.vote_total}}) Vote{{project.vote_total|pluralize:"s"}}
                                </p>
                                <div class="project__tags">
                                    {% for tag in project.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% include 'pagination.html' with queryset=projects custom_range=custom_range %}

</main>




{% endblock %}