{% load static %}

<footer class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 footer-center pt-5 order-1">
            <h2>Find us on socials&nbsp<i class="fa-solid fa-turn-down fs-5"></i></h2>
            <ul class="row list-unstyled">
                <li class="col-6 social-icon">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </li>
                <li class="col-6 social-icon">
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </li>
                <li class="col-6 social-icon">
                    <a href="https://www.linkedin.com" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="col-6 social-icon">
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fa-brands fa-square-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 order-3 order-md-2">
            <ul class="list-unstyled">
                <li class="footer-center">
                    <a href="{% url 'home' %}">
                        <img id="footer-logo" src="{% static 'images/logo1.png' %}" alt="Combat canvas logo">
                    </a>
                </li>
                <li class="footer-center">
                    <p id="disclaimer">This website is for educational purposes only and does not represent a real
                        company or organisation. It was created for the sole purpose of participation in the <a
                            href="https://hackathon.codeinstitute.net/" target="_blank">Code Institute Hackathon</a> in
                        association with <a href="https://www.trustinsoda.com/" target="_blank">Soda Social</a> April
                        2023. <br>©The Piccadilly Pythons 2023. All Rights Reserved.</p>
                </li>
                <li class="footer-center fs-5">
                    <a href="https://github.com/alexdoherty01" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Alex</a>
                    <a href="https://github.com/Ant2210" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Ant</a>
                    <a href="https://github.com/daat2" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Ib</a>
                    <a href="https://github.com/Lydiajoy97" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Lydia</a>
                    <a href="https://github.com/PVieira04" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Patrick</a>
                    <a href="https://github.com/tindyc" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Tindy</a>
                    <a href="https://github.com/vasileios20" target="_blank"><i class="fa-brands fa-github github-icons"></i><br>Vasilis</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 pt-5 px-5 footer-center order-2 order-md-3">
            <h2>Additional Resources&nbsp<i class="fa-solid fa-turn-down fs-5"></i></h2>
            <ul class="list-unstyled fs-4">
                <li>
                    <a href="https://www.nhs.uk/nhs-services/armed-forces-community/mental-health/veterans-reservists/"
                        target="_blank">NHS - Mental Health Support for veterans</a>
                </li>
                <li>
                    <a href="https://combatstress.org.uk/" target="_blank">Combat Stress</a>
                </li>
                <li>
                    <a href="https://thenotforgotten.org/" target="_blank">The Not Forgotten</a>
                </li>
                <li>
                    <a href="https://www.helpforheroes.org.uk/" target="_blank">Help For Heroes</a>
                </li>
            </ul>
        </div>
    </div>
</footer>