@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

:root {
    --color-sub: #2d2d39;
  }

  a {
    text-decoration: none;
  }
  
  .btn--sub {
    background-color: #7986a7;
    border-radius: 8px;
    min-height: 35px;
    min-width: 75px;
    box-shadow: 3px 3px 6px #2d2d39;
    border: none;
    color: #161412;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  }

  .btn--sub a {
    color: #161412;
    padding: 0px 10px;
    font-size: small;
    font-family: 'Oswald', sans-serif;
  }

  .btn--sub:hover {
    transform: translateY(1px);   
    box-shadow: none; 
  }
  
  .card {
    border: 2px solid var(--color-light);
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2d2d39;
  }

  .search-results .card {
  transition: transform 0.3s ease-in-out;
}

  .search-results .card:hover {
    transform: translateY(-6px);
  }
  
  img {
    width: 100%;
  }
  
  .tag > i.im {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .content-box {
    width: 95%;
    max-width: 85rem;
    margin: 0 auto;
  }
  
  /*=======================
    Header Section
  ========================*/
  .header {
    position: sticky;
    z-index: 111;
    background-color: #93A1C8;
    padding: 1.5rem 0;
    box-shadow: 2px 2px 6px #161412;
  }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo > img {
    height: 10rem;
    max-width: 250px;
  }
  
  .header__nav > ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 6.5rem;
  }
  
  .header__menuItem > a {
    color: #161412;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    text-decoration: none;
  }

  .header__menuItem .header__link {
    transition: transform 0.3s ease-in-out;
  }

.header__menuItem .header__link:hover {
    transform: translateY(-4px);  
    color: #161412;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #161412;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
  
  .toggle-menu > span {
    display: none;
  }
  
  .header__nav input[type='checkbox'] {
    display: none;
  }
  
  .header__nav input[type='checkbox']:checked ~ .header__menu {
    opacity: 1;
    pointer-events: all;
  }
  
  .project--thumbnail {
    height: 250px;
    object-fit: cover;
  }
  
  @media screen and (max-width: 800px) {
    .header__logo {
      position: relative;
      z-index: 999;
    }
    .toggle-menu {
      position: relative;
    }
  
    .toggle-menu > span {
      display: block;
      position: fixed;
      top: 1.5rem;
      right: 2.75rem;
      cursor: pointer;
      padding: 1rem;
      background: var(--color-sub-light);
      z-index: 999;
      font-size: 0;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  
    .toggle-menu__lines,
    .toggle-menu__lines::before,
    .toggle-menu__lines::after {
      pointer-events: none;
      content: '';
      display: block;
      height: 2px;
      width: 2.5rem;
      position: fixed;
      top: 4rem;
      right: 4rem;
      z-index: 999;
      background: var(--color-light);
      transition: all 0.3s ease-in-out;
    }
  
    .toggle-menu__lines::before {
      top: 3.4rem;
      transform-origin: 0 0;
    }
    .toggle-menu__lines::after {
      top: 4.6rem;
      transform-origin: 0 0;
    }
  
    .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines::before {
      margin-left: 3px;
      transform: rotate(45deg) scaleX(1.2) translateX(-2px) translateY(-4px);
      visibility: visible;
    }
  
    .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines {
      visibility: hidden;
    }
  
    .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines::after {
      transform: rotate(-45deg) scaleX(1.2) translateX(-2px) translateY(3px);
      visibility: visible;
    }
  
    .header__nav > ul {
      opacity: 0;
      pointer-events: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: var(--color-sub);
      transition: all 0.5s ease-in-out;
    }
  
    .header__menuItem a {
      transition: all 0.5s ease-in-out;
      padding: 1rem 3rem;
    }
  
    .header__menuItem a:hover {
      padding: 1rem 3rem;
      border-radius: 3px;
      background: var(--color-sub-light);
    }
  }
  
  /*=======================
    Hero Section
  ========================*/
  
  .hero-section {
    height: 40vh;
    display: flex;
    align-items: center;
    background-color: var(--color-sub-lighter);
  }
  
  .hero-section__box {
    margin-bottom: 4rem;
  }
  
  .hero-section__box > h2,
  .hero-section__box > h2 > span {
    font-size: 4rem;
    color: #161412;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }
  
  @media screen and (max-width: 1000px) {
    .hero-section__box > h2,
    .hero-section__box > h2 > span {
      font-size: 3.4rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .hero-section__box > h2,
    .hero-section__box > h2 > span {
      font-size: 3rem;
      line-height: 1.5;
    }
  }
  
  @media screen and (max-width: 500px) {
    .hero-section__box > h2,
    .hero-section__box > h2 > span {
      font-size: 2.4rem;
      line-height: 1.5;
    }
  }
  
  @media screen and (max-width: 400px) {
    .hero-section__box > h2,
    .hero-section__box > h2 > span {
      font-size: 2rem;
    }
  }
  
  .hero-section__box > h2 {
    font-weight: 300;
  }
  
  .hero-section__box > h2 > span {
    font-weight: 700;
  }
  
  .hero-section__search > .form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .hero-section__search > .form label {
    position: absolute;
    left: -9999px;
  }
  
  .hero-section__search > .form input.input--text {
    width: 50rem;
  }
  
  @media screen and (max-width: 700px) {
    .hero-section__search > .form {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: stretch;
    }
  
    .hero-section__search > .form input.input--text,
    .hero-section__search > .form input {
      min-width: 100%;
      width: 100%;
    }
  }
  
  /*=======================
    Veterans
  ========================*/
  
  .userlist {
    margin-top: 8rem;
  }
  
  .userlist .grid {
    align-items: stretch;
  }
  
  .userlist .user .user__profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .list .user .user__meta h3 {
    color: var(--color-sub);
    font-size: 2rem;
    font-weight: 700;
  }
  
  .userlist .user .user__meta h5 {
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .userlist .dev .user__info {
    margin: 1.5rem 0;
    font-size: 1.35rem;
    line-height: 1.4;
    text-align: justify;
  }
  
  /*=======================
    Pagination
  ========================*/
  .pagination {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
  
  .pagination > ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .pagination .btn {
    color: var(--color-sub);
  }
  
  .pagination .btn.btn--sub {
    color: var(--color-light);
  }
  
  /*=======================
    Profile
  ========================*/
  
  .profile .card > .dev {
    padding: 4rem;
  }

  .column--2of3 {
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
  }
  
  .user__avatar {
    display: block;
    margin: auto;
  }

  .account-mobile-mode {
    display: none;
  }
  
  .user__name {
    color: var(--color-sub);
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'oswald', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user__title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
  }
  
  .user__location {
    margin-top: 1rem;
  }
  
  .user__social {
    margin: 3rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2em;
  }
  
  .userInfo {
    margin-bottom: 3rem;
    align-self: center;
  }

  .userInfo__title, .settings__title {
    font-family: 'oswald', sans-serif;
    text-align: center;
  }

  .userInfo__title, .settings__title {
    font-family: 'oswald', sans-serif;
  }
  
  .userInfo__title,
  .userInfo__subtitle {
    font-size: 2.6rem;
    color: var(--color-sub);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .userInfo__subtitle {
    font-size: 2rem;
    color: var(--color-sub-light);
  }
  
  .userInfo__about {
    font-size: 1.45rem;
    line-height: 1.7;
    text-align: justify;
  }
  
  /*=======================
    Single Projects
  ========================*/
  
  .singleProject .column--1of3 {
    order: 2;
  }
  
  @media screen and (min-width: 1081px) {
    .singleProject .column--1of3 {
      order: 1;
    }
    .singleProject .column--2of3 {
      order: 2;
    }
  }
  
  .account-projects-con {
    padding: 2rem 2.5rem;
  }

  .singleProject__toolStack {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .singleProject__liveLink {
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
  }
  
  .singleProject__liveLink:hover {
    font-weight: 500;
    border-bottom: 2px solid var(--color-main);
  }
  
  .singleProject__liveLink i {
    display: inline-block;
    font-size: 1.6rem;
    margin-right: 1rem;
  }
  
  .singleProject__preview {
    height: 50vh;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 3rem;
    border-radius: 0.7rem;
  }
  
  .singleProject__developer {
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .singleProject__title {
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--color-sub);
    margin-bottom: 3rem;
    font-family: 'Oswald', sans-serif;
  }
  
  .project__author{
    font-size: 1.4rem;
    font-style: italic;
  }
  
  .project--rating{
    margin-bottom: 1.6em;
    margin-top: .5em;
  }
  
  .singleProject__subtitle {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-sub-light);
    margin-bottom: 1rem;
  }
  
  /*=======================
    Projects Page
  ========================*/
  .projects > .hero-section {
    background: var(--color-sub-lighter);
  }
  
  .projects .hero-section__box {
    margin-bottom: 2.5rem;
  }
  
  .projects .hero-section__box > h2 {
    color: var(--color-sub);
  }
  
  .projects .hero-section__box > h2 > span {
    font-weight: 700;
    color: var(--color-sub);
  }
  
  .projectsList {
    margin-top: 8rem;
  }
  
  /*========== Projects ==========*/
  
  .project__thumbnail {
    height: 34rem;
    object-fit: cover;
    object-position: top center;
  }
  
  .project__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-sub);
    font-family: 'Oswald', sans-serif;
  }
  
  .project__info {
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: justify;
  }
  
  /*========== Comments ==========*/
  
  .comments {
    margin-top: 4rem;
    padding-top: 3rem;
    border-top: 2px solid var(--color-light);
  }
  
  .comments .form label {
    position: absolute;
    margin: -9999px;
  }
  
  .commentList {
    margin: 3rem 0;
  }
  
  .comment {
    display: flex;
    gap: 2rem;
  }
  
  .comment:not(:last-child) {
    margin-bottom: 3rem;
  }
  
  .comment__author {
    font-size: 1.8rem;
  }
  
  .comment__info {
    font-size: 1.45rem;
  }
  
  /*=======================
    Account Settings
  ========================*/
  .account-layout{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    border: none;
  }

  .settingsPage .dev > .settings__btn {
    display: inline-block;
    margin-bottom: 3rem;
  }

  .account-about-con {
    display: flex;
    flex-direction: row;
  }
  
  .settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .settings__title {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-sub);
  }
  
  .settings__table {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0 3rem;
    background: var(--color-white);
  }
  
  .settings__table tr {
    width: 100%;
  }
  
  .settings__table tr > td {
    padding: 2rem 0;
  }
  
  .settings__table tr:not(:last-child) td {
    border-bottom: 2px solid var(--color-white-light);
  }
  
  .settings__thumbnail {
    width: 23%;
    min-width: 10rem;
  }
  
  .settings__thumbnail img {
    padding-right: 3rem;
    height: 15rem;
    object-fit: contain;
  }
  
  .settings__tableInfo{
    width: 100%;
  }
  
  .settings__tableInfo h4,
  .settings__tableInfo a {
    padding-right: 1rem;
    width: auto;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-sub);
  }
  
  .settings__tableInfo p {
    font-size: 1.4rem;
  }
  
  .settings__tableActions {
    text-align: right;
  }

  .my-projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-card, .project-card-info a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    padding: 2rem 2.5rem;
  }

  .project-card a {
    font-size: 3em;
  }

  .project-card-info {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
  }

  .project-card-info p {
    padding: 2rem 2.5rem;
    flex: 20%;
  }

  /*=======================
    Media Styles ofr Profile Page
  ========================*/

  @media screen and (max-width: 767px) {
    .account-mobile-mode {
      display: block;
    }

    .account-desktop-mode {
      display: none;
    }

    .account-about-con {
      flex-direction: column;
    }

    .userInfo__title {
      text-align: left;
    }

    .my-projects-container {
      grid-template-columns: 1fr;
    }
  }

  /*=======================
    Single Project Page
  ========================*/

  .single-project-title {
    font-size: 4.5em;
  }

  .single-project-artist {
    font-size: 1.7em;
    text-decoration: none;
    margin-bottom: 3rem;
  }

  .single-project-subtitle {
    font-size: 3em;
    text-align: center;
    margin-bottom: 3rem;
  }

  .single-project-container, .single-project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .single-project-info {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .single-project-about {
    font-size: 1.5em;
  }

  .single-project-tags {
    padding: 2em 2.5em;
    flex: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .single-project-heading {
    text-align: center;
  }
  
  .single-project-tag-list {
    align-items: center;
  }

  .single-project-comments {
    width: 100%;
    max-width: 600px;
  }

  .single-project-comments-title {
    font-size: 3em;
    text-align: center;
  }

  .single-project-comments form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__field {
    width: 100%;
    font-size: 1.5em
  }

  .single-project-comment-submit {
    background-color: #93A1C8;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 1.5em;
    padding: 2px 7px;
  }

  /*=======================
    Media Styles for Single Project
  ========================*/

  @media screen and (max-width: 767px) {
    .single-project-info {
      flex-direction: column;
    }
  }

  /*=======================
    Browse Profile Page
  ========================*/

  .profile-browse-con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-browse-heading {
    font-size: 4em;
    font-family: 'oswald', sans-serif;
  }

  .profile-browse-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profile-browse-user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-browse-user-img {
    margin: 2rem 0;
  }

  .profile-browse-bio {
    padding: 2rem 2.5rem;
  }

  .profile-browse-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-browse-project-head {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 3rem;
  }

  .profile-browse-project-card, .profile-browse-project-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-browse-project-card a h3 {
    text-decoration: none;
  }

  .profile-browse-project-card a img {
    margin: 2rem 0;
    max-height: 34em;
  }

  /*=======================
    Media Styles for Browse Profile
  ========================*/

  @media screen and (max-width: 767px) {
    .profile-browse-top {
      flex-direction: column;
    }
  }

  /*=======================
    Login/SignUp
  ========================*/
  
  .auth {
    width: 100%;
    position: relative;
    z-index: 1;
    background: transparent;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth::after {
    z-index: -1;
    opacity: 0.1;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/pattern.jpg);
  }
  
  .auth > .card {
    padding: 3rem 4rem;
    width: 95%;
    max-width: 65rem;
  }
  
  @media screen and (min-width: 650px) {
    .auth > .card {
      padding: 5rem 8rem;
      width: 95%;
      max-width: 65rem;
    }
  }
  
  .auth__header h3 {
    color: var(--color-sub);
    font-weight: 700;
    margin-top: 1rem;
  }
  
  .auth__header p {
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  
  .auth__form {
    margin: 0;
  }
  
  .auth .auth__form label,
  .auth .auth__alternative p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-sub-text);
  }
  
  .auth .auth__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  .auth .auth__actions a {
    text-decoration: underline;
    color:  var(--color-sub-text);
  }
  
  .auth .auth__alternative a {
    font-size: 2rem;
    font-weight: 500;
    color:  var(--color-sub-text);
  }

  /*=======================
    Contact Form
  ========================*/

  legend {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

#contact-form-logo {
    width: 50%;
    margin: auto;
}

.contact-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.5rem;
}

.contact-form-control {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}
.contact-form-control input {
    font-size: 100%;
}
.contact-form-control label {
    padding: 1rem 0 0.2rem 0;
}
.contact-text-input {
    font-family: 'Oswald Heavy', 'Merriweather Sans', sans-serif;
    min-width: 24rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid #1B264F;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
    color: var(--color-text);
}
.contact-form textarea.input {
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid #1B264F;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}
.contact-required-field {
    color: red;
    font-size: 80%;
}
.send-button {
    font-size: 3rem;
    font-weight: 600;
}

.lg-sgn-btn {
    font-weight: 600;
    font-size: 1.5rem;
}
.required-field-bottom {
    margin-top: 0.5rem;
    font-size: 70%;
    color: var(--color-text);
}
@media screen and (max-width:1024px) {
    .auth>.card {
        flex-basis: 60%;
    }
}
@media screen and (max-width:820px) {
    .auth>.card {
        flex-basis: 80%;
    }
}
@media screen and (max-width:450px) {
    .auth>.card {
        flex-basis: 100%;
    }
}
  
  /*=======================
    Inbox
  ========================*/
  
  .inbox {
    height: 90vh;
  }
  
  .inbox__title,
  .inbox__title span {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-sub);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 3rem;
  }
  
  .inbox__title span {
    color: var(--color-main);
  }
  
  .messages {
    list-style: none;
    background: var(--color-white);
    padding: 0.5rem 3rem;
    border: 2px solid var(--color-light);
    border-radius: 0.7rem;
  }
  
  .message {
    padding: 2.5rem 0;
  }
  
  .message > a span {
    font-size: 1.45rem;
    font-weight: 500;
  }
  
  .message.message--unread a span {
    font-weight: 700;
    color: var(--color-sub);
  }
  
  .message:not(:last-child) {
    border-bottom: 2px solid var(--color-white-light);
  }
  
  .message > a {
    display: flex;
    gap: 1rem;
  }
  
  .message__author,
  .message__date {
    flex-basis: 25%;
  }
  
  .message__subject {
    flex-basis: 50%;
  }
  
  .message__date {
    text-align: right;
  }
  
  /*=======================
    Single Message
  ========================*/
  
  .messagePage .message {
    list-style: none;
    background: var(--color-white);
    padding: 3.5rem 5rem;
    border: 2px solid var(--color-light);
    border-radius: 0.7rem;
  }
  
  .messagePage .message__subject {
    font-size: 2.8rem;
    color: var(--color-sub);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  .messagePage .message__author {
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  .messagePage .message__date {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 3rem;
  }
  
  .backButton {
    background: var(--color-main-light);
    color: var(--color-main);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .backButton i {
    font-size: 1.8rem;
  }
  
  
  /*=======================
    Form Page
  ========================*/
  
  .formPage .formWrapper {
    list-style: none;
    background: var(--color-white);
    padding: 3.5rem 5rem;
    border: 2px solid var(--color-light);
    border-radius: 0.7rem;
  }
  
  .formPage .formWrapper__subject {
    font-size: 2.8rem;
    color: var(--color-sub);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  
  
  /*=======================
    Fixed Position Alerts Wrapper
  ========================*/
  
  .alert {
    position: fixed;
    left: 50%;
    top: 120px;
    transform: translate(-50%, -50%);
  
  
    z-index: 99999;
  }

  /*=======================
    Footer
  ========================*/
  footer {
    background-color: #93A1C8;
    color: #161412;
    box-shadow: -2px -2px 6px #161412;
  }

footer h2 {
  font-family: 'Oswald', sans-serif;
}


  footer a {
    color: #161412;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }

  footer a:hover {
    transform: translateY(-4px);  
    color: #161412;
  }

  .social-icon {
    font-size: 4rem;
    text-align: center;
    padding-top: 1.5rem;

}

.footer-center {
    text-align: center;
}

#footer-logo {
    padding-top: 1.5rem;
    max-width: 250px;
}

#disclaimer {
    font-size: 1.2rem;
    color: #161412;
}

.github-icons {
    font-size: 3rem;
    padding: 0px 15px;
  }

  .footer-center {
    text-align: center;
  }

  #footer-logo {
    padding-top: 1.5rem;
    max-width: 250px;
  }

  #disclaimer {
    font-size: 1.2rem;
    color: #161412;
  }

  .github-icons {
    font-size: 3rem;
    padding: 0px 15px;
  }

 /*=======================
    Home Page
  ========================*/
  
.home-title {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:aliceblue;
}

.home-description > p {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.mental-health {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
}

.mental-health img {
  margin: auto;
  max-width: 25%;
  max-width: 25%;
}

.mental-health h3 {
  font-family:  'Oswald', sans-serif;
}

.mental-health p {
  font-family: 'Merriweather Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.where-description {
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  flex-flow: row;
  padding: 0 30px;
  padding-top: 30px;
  align-items: center;
}

.where-description h3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.where-description p {
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
}

.where-content {
font-family: 'Merriweather Sans', sans-serif;
justify-content: right;
margin-left: 5%;
margin-right: 10%;
}

.home-contents-container {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  margin-bottom: 40px;
  align-items: center;
}

.user-quote1 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left;
  background-color: aliceblue;
  flex-basis: 30%;
}

.user-quote2 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left;
  background-color: aliceblue;
  flex-basis: 30%;
}

.user-quote1 p {
  font-family: 'Merriweather Sans', sans-serif;
}

.user-quote2 p {
  font-family: 'Merriweather Sans', sans-serif;
}

.content-img1 {
  justify-content: left;
  max-width: 25%;
  max-width: 25%;
}

.content-img2 {
  margin: auto;
  max-width: 25%;
  max-width: 25%;
}

.projects-button {
display: flex;
justify-content: center;
}

.projects-button-description p {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
/*Media Queries for the home page*/

@media screen and (max-width: 400px) {
.home-description {
  padding-left: 20px;
  padding-right: 20px;
}

.mental-health img {
  margin: auto;
  max-width: 50%;
  max-width: 80%;
}

  .where-description {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 30px;
}

.home-contents-container {
  display: flex;
  flex-direction: column;
}
.content-img1 {
  justify-content: left;
  max-width: 50%;
  max-width: 80%;
  padding-bottom: 20px;
}

.content-img2 {
  margin: auto;
  max-width: 50%;
  max-width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}
}

@media screen and (max-width: 850px) {
  .home-description {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .mental-health img {
    margin: auto;
    max-width: 50%;
    max-width: 80%;
    padding-top: 20px;
  }
  
    .where-description {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
  }
  
  .home-contents-container {
    display: flex;
    flex-direction: column;
  }
  .content-img1 {
    justify-content: left;
    max-width: 50%;
    max-width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .content-img2 {
    margin: auto;
    max-width: 50%;
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.vetlist {
  padding-top: 75px;

}

